
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd

.idea/commandlinetools/Symfony_21_12_2020_07_38.xml

.idea/laboutiquefrancaise.iml

.idea/modules.xml

.idea/php.xml

.idea/vcs.xml

.idea/
